version: "3"

services:
  postgres:
    container_name: project-name-postgresql
    image: postgres:13
    ports:
    - "5432:5432"
    volumes:
    - /data/postgres:/data/postgres
    env_file:
    - .postgresql.env
    networks:
    - postgres
 
  pgadmin:
    links:
      - postgres:postgres
    container_name: project-name-pgadmin
    image: dpage/pgadmin4:6.5
    ports:
    - "8080:80"
    volumes:
    - /data/pgadmin:/root/.pgadmin
    env_file:
    - .pgadmin.env
    networks:
    - postgres
 
networks:
  postgres:
    driver: bridge